.idea/copyright/profiles_settings.xml
.idea/workspace.xml
.idea/php.xml
.vscode/settings.json
.vscode/launch.json
.idea/modules.xml
.idea/misc.xml
.idea/facility_202.iml
.idea/deployment.xml
.idea/encodings.xml
views/index.ejs
views/index.ejs