<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJS</title>
    <style>
        .hidden{
            display: none;
        }
    </style>
</head>
<body>
   <h1>EJS Templating</h1>
   <form id="formulaire">
       <input type="text" id="username">
       <input type="text" id="mail">
       <button type="submit">Connexion</button>
       <br>
       <br>
       <div class="hidden" id="connected_users">
           <ul>
               <li>
                   
               </li>
           </ul>
       </div>
 
 
  </form>
   
    <script src="/js/jquery.js" ></script>
    <script src="/socket.io/socket.io.js" ></script>
    <script src="/js/index.js" ></script>
</body>
</html>
